<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header', 'btn btn-dark', 'container', and so on create 
    bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>About Me</h1>
  </div>

  <div class="container about">
    <div class="row">
        <img class="avatar" src="../../images/sprocket.png">
    </div>
    <div class="row">
        <p>Hi, we're HubSpot.</p>
        <p>We're a software company on a mission to help millions of organizations grow better. We build marketing, sales, and customer service tools to help our customers grow in a more sustainable, more human way. </p>
        <p><a class="btn btn-dark" href="https://product.hubspot.com/hubspots-product-culture">Learn about HubSpot's Culture</a></p>
    </div>
  </div>
</body>

</html>