<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Personal Web Site Example</h1>
  </div>

  <div class="jumbotron container">
    <h1 class="display-5">Build your personal website</h1>
    <p class="lead">Personal web sites are a great tool for keeping your portfolio, some information about who you are, and your contact information.</p>
    <hr class="my-4">
    <p>Use this personal website as a template and make it your own! Want to see the code that makes up this site?</p>
    <p class="lead">
      <a class="btn btn-dark btn-lg" href="https://github.com/HubSpot/StyledWebApp" role="button">See the code</a>
    </p>
  </div>
  
</body>

</html>