<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header', 'btn btn-dark', 'container', and so on create 
    bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>My Projects</h1>
  </div>

  <p>Check out the other lessons in the web app course.</p>

  <div class="container lessons">
        <div class="row">
          <div class="col-sm">
            <h2>Lesson One</h2>
            <p>In this lesson, get a basic web app up and running on your machine.</p>
            <p><a class="btn btn-dark" href="https://github.com/HubSpot/BaseWebApp">See the lesson</a></p>
          </div>
          <div class="col-sm">
            <h2>Lesson Three</h2>
            <p>Learn about how APIs make dynamic web apps possible, and practice integrating one into your app.</p>
            <p><a class="btn btn-dark" href="https://github.com/HubSpot/APIWebApp">See the lesson</a></p>
          </div>
          <div class="col-sm">
            <h2>Lesson Four</h2>
            <p>Learn how to set up a database, do user authentication, and submit and display user-generated data.</p>
            <p><a class="btn btn-dark" href="https://github.com/HubSpot/DatabaseWebApp">See the lesson</a></p>
          </div>
        </div>
      </div>
  
</body>

</html>